
   hr{
       background-color:grey;
       height:2px;

   }



   .second{
       border-collapse: collapse;
       text-align:center;
       width:600px;
   }

   .table-head{
       background-color:#f4ebc1;
       border-style:solid;
       border-color:black;
   }

   .table-body{
       border-style:solid;
       border-color:black;
   }

   .JonasPng{
       border-radius: 70%;
       width: 150px;
       margin-right: 20px;

   }

   .first{
       border: 0;
   }

   .third{
     width:200px;
   }
